body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: #4D5053;
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1440px;
    padding: 0 120px;
    margin: 0 auto;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    margin-top: 26px;
}

.header-list {
    display: flex;
}

.header-list-item:not(:last-child){
    margin-right: 40px;
}

.header-list-item {
    line-height: 1.58;
    letter-spacing: 0.4px;
    color: #292F36;
    font-size: 19px;
}

.header-list-item:hover {
    color: #CDA274;
}

/* Main */

.hero-section {
    height: 831px;
    max-width: 100%;

    background-image: url(../images/hero-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 0px 290px;

    display: flex;
    align-items: center;
}

.hero-title {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.22px;
    color: #292F36;
    font-size: 80px;
    margin-bottom: 19px;
}

.hero-text {
    line-height: 1.5;
    letter-spacing: 0.22px;
    color: #4D5053;
    font-size: 22px;
    margin-bottom: 35px;
}

.hero-button {
    width: 207px;
    height: 71px;

    background-image: url(../images/button.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 2px solid #292F36;
    border-radius: 18px;
    padding: 22px 67px 22px 34px;

    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    color: white;
    font-weight: 400;

    cursor: pointer;
}

/* Features-section */

.features-section {
    margin: 100px 0;
    padding: 75px 42px;
}

.features-list {
    display: flex;
    align-items: center;
}

.features-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-list-item:not(:last-child) {
    margin-right: 100px;
}

.features-list-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 17px;
}

.features-list-text {
    width: 317px;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    font-weight: 400;
    margin-bottom: 68px;
    text-align: center;
}

.features-list-link {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;    
    text-align: center;
    letter-spacing: 0.36px;
    align-items: center;
}

.features-list-link::after {
    content: "";
    width: 24px;
    height: 17px;
    background-image: url(../images/arrow.svg);
    margin-left: 6px;
}

/* Design section */

.design-section {
    margin-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.design-section-subtitle {
    width: 450px;

    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 42px;
}

.design-section-text {
    width: 531px;

    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    margin-bottom: 30px;
}

.contact {
    display: flex;
    align-items: center;
}

.design-phone {
    margin-right: 20px;
}

.design-number {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.22px;
}

.design-text-number {
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.design-button {
    margin-top: 50px;
    width: 263px;
    height: 71px;
    
    background-image: url(../images/button.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    border: 2px solid #292F36;
    border-radius: 18px;
    padding: 22px 67px 22px 34px;
    
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.72px;
    color: white;
    font-weight: 400;
    
    cursor: pointer;
}

/* Response section */

.response-section {
    height: 675px;
    background: #F4F0EC;
    border-radius: 70px;
    margin-bottom: 140px;
}

.responce-section-subtitle {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
    padding-top: 103px;
    margin-bottom: 45px;
}

.response-list {
    display: flex;
    justify-content: center;
    padding-bottom: 121px;
}

.response-item {
    height: 287px;
    background: #FFFFFF;
    border-radius: 30px;
    width: 354px;
}

.response-item:not(:last-child) {
    margin-right: 17px;
}

.response-user {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 35px;
    padding-top: 50px;
}

.response-user-info {
    margin-left: 20px;
}

.response-list-title {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
}

.response-list-paragraph {
    font-size: 22px;
}

.response-list-text {
    width: 310px;
    height: 90px;

    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.22px;
    padding-left: 35px;
}

/* Sponsor section */

.sponsor-section {
    margin-bottom: 100px;
}

.sponsor-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Project section */

.project-section {
    margin-bottom: 80px;
}

.project-subtitle {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 62px;    
    text-align: center;
    letter-spacing: 0.22px;
    color: #292F36;
    margin-bottom: 20px;
}

.project-text {
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    margin-bottom: 70px;
}

.project-item-header {}

.project-item-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.project-item-info {}

.project-item-action {}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 20px;
}

.project-list-item {
    flex-basis: calc((100%-20px)/2);
}

.project-item-image {
    margin-bottom: 24px;
}

.project-item-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.22px;
    color: #292F36;
}

.project-item-text {
    line-height: 33px;
    letter-spacing: 0.22px;
}

.project-item-icon {}

/* Section about */

.section-about {
    height: 475px;
    margin-bottom: 130px;
    background-color: #F4F0EC;
    padding: 140px 0;
}

.about-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-list-item {
    width: 288px;
    height: 195px;
    margin-right: 16px;
}

.about-list-item:not(:last-child) {
    border-right: 1px solid #CDA274;
}

.about-number {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 128px;
    text-align: center;
    letter-spacing: 1.7px;
    color: #CDA274;
    margin-bottom: 10px;
}

.about-list-text {
   text-align: center;
}